* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
.container {
  max-width: 1470px;
}
.navbar {
  background: #e5f1ff;
}
.nav-item {
  padding: 0px 12px;
}
.nav-item .nav-link {
  font-size: 18px;
  font-weight: 600;
  color: rgb(36, 38, 59) !important;
  padding: 0px;
}
.navbar {
  height: 76px;
}

/* banner section start------ */

.banner_section {
  padding-top: 125px;
  background: #e5f1ff;
}
.banner_title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 25px;
  color: rgb(27, 27, 27);
}
.banner_img {
  margin-bottom: 25px;
}
.banner_content {
  margin-bottom: 25px;
  font-size: 18px;
  color: rgb(27, 27, 27);
}
.banner_left {
  max-width: 621px;
  margin: 0 auto;
}
.get_quote {
  color: #fff;
  font-weight: 500;
  background-color: rgb(36, 38, 59);
  text-decoration: none;
  padding: 16px 32px;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
  display: inline-block;
  transition: all ease-in 0.2s;
  -webkit-transition: all ease-in 0.2s;
  -moz-transition: all ease-in 0.2s;
  -ms-transition: all ease-in 0.2s;
  -o-transition: all ease-in 0.2s;
  border: 1px solid transparent;
  margin-bottom: 22px;
}
.get_quote:hover {
  background-color: #fff;
  color: rgb(36, 38, 59);
  border-color: rgb(36, 38, 59);
}

/* experience section start ------ */
.custumer_wrapper {
    /* background-color: bisque; */
  text-align: center;
}
.experience_wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}
.custumer_wrapper img {
  width: 50px;
  margin-bottom: 15px;
}
.custumer_wrapper h5 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 8px;
}
.custumer_wrapper p {
  font-size: 18px;
  font-weight: 600;
}
/* experience section end ------ */

/* testimonial section start ------- */
.testimonial_section{
    padding-top: 100px;
    background: antiquewhite;
    padding-bottom: 100px;
}
.testimonial_section h3{
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}
.slider_wrapper{
    text-align: center;
    background-color: rgb(244, 244, 244);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    padding: 20px;
}

.checked {  
    color : #ffbf1b;
    font-size : 30px;  
}  
.unchecked {  
    font-size : 30px;  
}  
/* testimonial section end ------- */


.testimonial_section .owl-prev, .testimonial_section .owl-next{
  position: absolute;
  top: 36%;
}
.testimonial_section .owl-prev{
  left: 0px;
  background-image: url(images/arrow.png) !important;
  width: 38px;
  height: 38px;
  background-size: 37px !important;
}
.testimonial_section .owl-next{
  right: 0px;
  background-image: url(images/arrow.png) !important;
  width: 38px;
  height: 38px;
  background-size: 37px !important;
}































@media (max-width: 1399px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 575px) {
  .container {
    max-width: 100%;
  }
}
